.main-background-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.order-item-preview-container {
  width: 1110px;
  height: 504px;
  top: 144px;
  left: 165px;
  border: 1px;
  background-color: #f9fbfe;
  padding: 10px;
}
.order-details-container {
  flex-grow: 1;
}
.order-item-heading-container {
  display: flex;
  justify-content: space-around;
}
.order-item-heading {
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #475569;
}
.total-price-container {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 8%;
}
.price-container {
  display: flex;
}
.payment-button {
  background-color: #f7931e;
  width: 99px;
  height: 32px;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 8px;
  gap: 8px;
  border: none;
  align-items: end;
}
.payment-button-container {
  text-align: end;
  margin-right: 6%;
}
.food-order-item-list-container {
  margin-left: 0px;
}
.payment-successful-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
}
.payment-done {
  color: #22c55e;
  height: 38px;
  width: 38px;
}
.successful-heading {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;

  line-height: 20px;
  text-align: center;
  color: #1e293b;
}
.successful-paragraph {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;

  line-height: 20px;
  text-align: center;
  color: #64748b;
}
.home-page-button {
  position: static;
  background: #f7931e;
  border-radius: 8px;
  position: static;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border: none;
  color: #ffffff;
  height: 32px;
  width: auto;
  padding-left: 6px;
  padding-right: 6px;
}
@media all and (max-width: 767px) {
  .order-item-heading-container {
    display: none;
  }
  .main-background-container {
    width: 360px;
  }
  .order-item-preview-container {
    width: 360px;
    height: inherit;
    top: 144px;
    border: 1px;
    background-color: transparent;
    padding: 10px;
  }
  .order-total-heading {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  }
  .payment-successful-container {
    height: 100vh;
  }
  .successful-heading {
    font-size: 23px;
  }
  .successful-paragraph {
    font-size: 16px;
  }
}
