.restaurant-details-container {
  background-image: url('https://res.cloudinary.com/drjim6cqm/image/upload/v1700979800/Frame_279_afdx3w.png');
  width: 1440px;
  height: 372.52px;
  top: 144px;
  display: flex;
  align-items: center;
  flex-shrink: 1;
}
.restaurant-name-and-location-container {
  width: 795px;
  height: 280px;
  border-radius: 8px;
  display: flex;
  margin: 10px;
}
.restaurant-logo {
  width: 445px;
  height: 280px;
  top: 176px;
  left: 165px;
  border-radius: 8px;
}
.name-container {
  width: 320px;
  height: 168px;
  top: 232px;
  left: 640px;
  margin-left: 20px;
}
.each-restaurant-name {
  top: 232px;
  left: 640px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  color: #ffffff;
}
.each-restaurant-type {
  top: 292px;
  left: 640px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
}
.cost-container {
  display: flex;
  justify-content: space-between;
}
.rating-icon {
  color: #ffffff;
}
.each-restaurant-rating {
  font-family: DM Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #e2e8f0;
}
.food-item-unorder-list-container {
  display: flex;
  justify-content: center;
  margin-left: 0;
  list-style-type: none;
  flex-wrap: wrap;
}
@media all and (max-width: 767px) {
  .restaurant-item-details-container {
    width: 360px;
    height: inherit;
    top: 64px;
  }
  .restaurant-details-container {
    width: 360px;
    height: inherit;
  }
  .restaurant-logo {
    width: 121px;
    height: 121px;
    top: -54px;
    left: -68px;
    border-radius: 133.98px;
    align-self: center;
  }
  .name-container {
    width: 360px;
    height: 124px;
    top: 96px;
    left: 169px;
  }
  .each-restaurant-name {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
  }
  .each-restaurant-type {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    width: 138px;
  }
  .cost-container {
    width: 175px;
    height: 124px;
    top: 96px;
    left: 169px;
  }
}
